        .thumbnails {
            width: 100%;
            border-radius: 10px;
        }
        
        .video-title {
            font-weight: 500;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 20px;
        }
        
        .video-stats,
        .video-author {
            font-size: 12px;
            color: rgb(9 6, 96, 96);
        }
        
        .video-stats {
            margin-top: 5px;
            line-height: 13px;
        }
        
        .video-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            row-gap: 40px;
        }
        
        @media(max-width: 800px) {
            .video-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        @media(min-width: 801px) and (max-width: 1199px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
        @media(min-width: 1200px) {
            .video-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        
        .channel-picture img {
            display: inline-block;
            vertical-align: top;
            width: 42px;
            border: 1px solid none;
            border-radius: 60px;
        }
        
        .video-info {
            width: 200px;
            display: inline-block;
            padding-top: 0px;
        }
        
        .image {
            border-radius: 200px;
        }
        
        .thumbnail-row {
            position: relative;
        }
        
        .video-time {
            font-family: Roboto, Arial;
            font-size: 12px;
            padding: 4px;
            border-radius: 2px;
            font-weight: 500;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 8px;
            right: 5px;
        }